body {
    font-family: 'monospace',serif;
        background-image: url("paper.gif.");
        background-color: #cccccc;
       }
h1, h2, h3, h4, h5,h6{
    font-family: 'monospace',serif;
    font-weight: 700;
    text-transform: uppercase;
    color:red;
}


.nomargin {
    margin: 0 !important;
}

.intro h1 {
    font-size: 60px;
}

span.heading-name {
    color: red !important;
}

.ghanaian-names h4, .akan-form h5 {
    color: red;
}

.rdio input[type="radio"]:checked + label::after {
    background-color: red;
}

.text-right {
    text-align: right;
}

.your-akan-name {
    padding-top: 40px;
}

.your-akan-name p {
    font-family: 'monospace',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
    font-size: 18px;
    text-align: center;
    line-height: 1.2em;
}

.footer {
    position: fixed; 
    bottom: 0;
    width: 90%;
    text-align: center;
    background-color: #ffffff;
    margin-top: 50px;
}

.footer p {
    font-size: 11px;
    margin-bottom: 0px;
    padding: 5px 0px 5px 0px;
}